<!DOCTYPE html>
<html>
<head>
    <title>Загрузка файла</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style="background-color: red;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Загрузите файл</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
</body>
</html>